# no IPYNB checkpoints
*.ipynb_checkpoints

# don't track changes to netcdf files
*.nc

# don't track changes to core data
cores/data/*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IMAU specific files

#no executables
*.x

#these files change often - need to update if there are big changes to launch_new_job
rundir/CancelMyJob.sc
rundir/launch_new_job.sc
rundir/ecs*
rundir/newpointlist/*.txt

# mac specific
*.DS_STORE

# Ignore pointlists
rundir/pointlists/

# Ignore rundir/launch_new_job.sc
rundir/launch_new_job.sc

# Ignore reference files -- too big
reference/

# Ignore modules and objects
modules/
objects/
