name: build
on:
  push:
    branches:
      - main
    paths-ignore:
      - 'documentation/**'
      - 'temp/**'
      - 'Containerfile'
      - '.gitignore'
  pull_request:
    paths-ignore:
      - 'documentation/**'
      - 'temp/**'
      - 'Containerfile'
      - '.gitignore'
    types: # don't run build for Draft PRs
      - opened
      - reopened
      - synchronize
      - ready_for_review
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Cache conda
        uses: actions/cache@v4
        env:
          # Increase this value to reset cache if etc/example-environment.yml has not changed
          CACHE_NUMBER: 0
        with:
          path: ~/conda_pkgs_dir
          key:
            ${{ runner.os }}-conda-${{ env.CACHE_NUMBER }}-${{
            hashFiles('environment.yml') }}
      - name: Create conda settings file # workaround to ensure cached packages are used: https://github.com/conda-incubator/setup-miniconda/issues/267#issuecomment-3267265692
        run: |
          echo "use_local: True" > condarc.yml
      - uses: conda-incubator/setup-miniconda@v3.3.0
        with:
          activate-environment: imau-fdm
          auto-activate: false
          condarc-file: condarc.yml
          channel-priority: strict
          environment-file: environment.yml
          conda-remove-defaults: "true"
          channels: conda-forge
      - name: Build with coda
        run: |
          conda env list # debug
          conda list -n imau-fdm # debug
          conda run -n imau-fdm nc-config --all # debug
          pkg-config --variable pc_path pkg-config # debug
          conda run -n imau-fdm fpm build --profile debug
